<div class="container">
  <!--ユーザー情報検索フォーム-->
  <%= render 'find' %>

  <!--ユーザー情報検索結果-->
  <h2>検索結果　"<%= "#{@word}" %>"</h2>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 col-xs-12">
        <div class="user">
          <%= link_to user_path(user.id) do %>
            <%= attachment_image_tag user, :user_image, :fill, 70, 70, fallback:"no_image.jpg" %>
            <%= user.nick_name %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>