<h1>プロフィール編集</h1>

<%= form_with model:@user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "氏名" %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :nick_name, "ニックネーム" %>
    <%= f.text_field :nick_name %>
  </div>
  <div class="form-group">
    <%= attachment_image_tag @user, :user_image, :fill, 60, 60, fallback:"no_image.jpg" %>
    <%= f.label :user_image_id, "プロフィール画像" %>
    <%= f.attachment_field :user_image %>
  </div>
  <div class="form-group">
    <%= f.label :sex, "性別" %>
    <%= f.select :sex, options_for_select(User.sexes.keys), include_blank: "選択してください" %>
  </div>
  <div class="form-group">
    <%= f.label :height, "身長" %>
    <%= f.text_field :height %> cm
  </div>
  <div class="form-group">
    <%= f.label :target_weight, "目標体重" %>
    <%= f.text_field :target_weight %> kg
  </div>
  <div class="form-group">
    <%= f.label :introduction, "自己紹介" %>
    <%= f.text_area :introduction %>
  </div>
  <%= f.submit "更新する" %>
<% end %>