<div class="container mb-5">

  <!--ユーザーのプロフィール欄-->
  <div class="profile">
    <div class="profile-img"><%= attachment_image_tag @user, :user_image, :fill, 150, 130, fallback:"no_image.jpg" %></div>
    <h2 class="name"><%= @user.nick_name %></h2>
    <div class="user-status">
      <ul>
        <li>
          <div class="status-title">Sex</div>
          <div class="status-body"><%= @user.sex %></div>
        </li>
        <li>
          <div class="status-title">Height</div>
          <div class="status-body"><%= @user.height %> cm</div>
        </li>
        <li>
          <div class="status-title">Goal</div>
          <div class="status-body"><%= @user.target_weight %> kg</div>
        </li>
      </ul>
    </div>

    <div class="introduction">
      <ul>
        <li>
          <div class="intro-title">About Me</div>
          <div class="intro-body"><%= @user.introduction %></div>
        </li>
      </ul>
    </div>

    <% if @user.current_user?(current_user) %>
      <div class="edit-button">
        <%= link_to "Edit Profile", edit_user_path(@user.id), class:"btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <!--マイページのユーザーの食事記録一覧-->
  <div class="my-meal">
    <div class="col-md-12">
      <div class="row">
        <h3 class="mr-5">My Meals</h3>
        <!--食事情報検索フォーム-->
        <%= render 'search/search' %>
      </div>

      <table class="table table-striped">
        <tr class="table-header">
          <th></th>
          <th>Date</th>
          <th>Menus</th>
          <th></th>
          <th></th>
        </tr>
        <% @user.meals.each do |meal| %>
          <tr class="table-body">
            <td>
              <%= link_to meal_path(meal.id) do %>
                <%= attachment_image_tag meal, :menu_image, :fill, 50, 50, fallback:"no_image.jpg" %>
              <% end %>
            </td>
            <td><%= meal.date %></td>
            <td>
              <% meal.meal_menus.each do |mm| %>
                <%= mm.name %>
              <% end %>
            </td>
            <td>Comments： <%= meal.post_comments.count %></td>
            <td id="favorite-<%= meal.id %>">
              <%= render 'favorites/favorite', meal: meal %>
              <%= meal.favorites.count %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

</div>