<h3>体重管理</h3>

<!--体重グラフ-->
<canvas id="myChart"></canvas>

<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['8月1日', '8月2日', '8月3日', '8月4日', '8月5日', '8月6日', '8月7日'],
      datasets: [
        <% gon.weights.each do |weight| %>
        {
          label: '体重(kg）',
          data: [<%= weight.weight %>],
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: '体脂肪率(%）',
          data: [<%= weight.body_fat %>],
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
        <% end %>
      ],
    },
    options: {
      title: {
        display: false,
        text: '体重推移'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 100,
            suggestedMin: 0,
            stepSize: 10,
            callback: function(value, index, values){
              return  value +  'kg'
            }
          }
        }]
      },
    }
  });
</script>

<!--体重登録フォーム-->
<%= render 'form', weight: @weight %>

<!--体重記録一覧-->
<div class="table">
  <table>
    <div class="theader">
      <tr>
        <th>日付</th>
        <th>体重</th>
        <th>体脂肪率</th>
        <th></th>
      </tr>
    </div>

    <div class="tbody">
      <% @weights.each do |weight| %>
        <tr>
          <th><%= weight.date %></th>
          <th><%= weight.weight %></th>
          <th><%= weight.body_fat %></th>
          <th><%= link_to "変更する", edit_weight_path(weight.id) %></th>
        </tr>
      <% end %>
    </div>
  </table>
</div>