<div class="container">

  <h2 class="mb-4">Edit Meal Record</h2>

  <div class="row justify-content-center">
    <div class="form-horizontal">
      <%= form_with model:@meal, local: true do |f| %>
        <div class="form-group">
          <%= f.label :date, "Date" %>
          <%= f.date_field :date, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.fields_for :meal_menus do |mm| %>
            <%= render 'meal_menu_fields', f: mm %>
            <%= link_to_add_association '＋', f, :meal_menus %>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.label :menu_image_id, "Meal Image" %>
          <%= f.attachment_field :menu_image, class:"form-control-file" %>
        </div>
        <div class="form-group">
          <%= f.label :category, "Category" %>
          <%= f.select :category, options_for_select(Meal.categories.keys, @meal.category), {}, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :menu_detail, "Meal Details" %>
          <%= f.text_area :menu_detail, class:"form-control" %>
        </div>
        <%= f.submit "Update", class:"btn btn-outline-secondary" %>
      <% end %>
    </div>
  </div>
</div>