<div class="d-flex flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  <h5 class="my-0 mr-md-auto font-weight-bold">
    <%= link_to "My Ideal Body", root_path, class:"text-dark" %>
  </h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to weights_path, class:"p-2 text-dark" do %>
        <i class="fas fa-weight"> Weight</i>
      <% end %>
      <%= link_to new_meal_path, class:"p-2 text-dark" do %>
        <i class="fas fa-utensils"> Meal</i>
      <% end %>
      <%= link_to users_path, class:"p-2 text-dark" do %>
        <i class="fas fa-users"> Users</i>
      <% end %>
      <%= link_to user_path(current_user.id), method: :get, class:"p-2 text-dark" do %>
        <i class="fas fa-user-cog"> MyPage</i>
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete, class:"text-dark" do %>
        <i class="fas fa-sign-out-alt"> Logout</i>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path, class:"p-2 text-dark" do %>
        <i class="fas fa-user-plus"> SignUp</i>
      <% end %>
      <%= link_to new_user_session_path, class:"text-dark" do %>
        <i class="fas fa-sign-in-alt"> Login</i>
      <% end %>
    <% end %>
  </nav>

</div>