<div class="d-flex flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

  <h5 class="my-0 mr-md-auto font-weight-normal">MyIdealBody</h5>

  <nav class="my-2 my-md-0 mr-md-3">
    <% if user_signed_in? %>
      <%= link_to "体重管理", weights_path, class:"p-2 text-dark" %>
      <%= link_to "食事管理", new_meal_path, class:"p-2 text-dark"  %>
      <%= link_to "ユーザー", users_path, class:"p-2 text-dark"  %>
      <%= link_to "マイページ", user_path(current_user.id), method: :get, class:"p-2 text-dark"  %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary" %>
    <% else %>
      <%= link_to "新規会員登録", new_user_registration_path, class:"btn btn-outline-primary" %>
      <%= link_to "ログイン", new_user_session_path, class:"btn btn-outline-primary" %>
    <% end %>
  </nav>

</div>